<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Event Planning Request</h3>
  </div>
  <div class="panel-body">

    <table class="table table-hover">
      <tr>
        <th>Record Number</th>
        <th>Client Name</th>
        <th>Event Type</th>
        <th>Status</th>
        <th></th>
      </tr>
      <tr ng-repeat="request in $ctrl.requests">  <!-- | filter:{reviewer: $ctrl.user} -->
        <td>{{request.recordNumber}}</td>
        <td>{{request.clientName}}</td>
        <td>{{request.eventType}}</td>
        <td>{{request.reviewer}}</td>
        <td><a href="#!/event_requests/{{request.recordNumber}}" class="btn btn-primary">View</a></td>
      </tr>
    </table>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">List of Finance Request</h3>
  </div>
  <div class="panel-body">
    <!--<form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="requestingDepartment"> Requesting Department : </label>
        <label class="radio-inline"><input type="radio" name="optradio">Administration</label>
        <label class="radio-inline"><input type="radio" name="optradio">Services</label>
        <label class="radio-inline"><input type="radio" name="optradio">Production</label>
        <label class="radio-inline"><input type="radio" name="optradio">Financial</label>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="projectReference"> Project Reference : </label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Eg: e12488">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
        <button type="submit" class="btn btn-primary">Search</button>
        </div>
      </div>
    </form> -->

    <table class="table table-hover">
      <tr>
        <th>Event Id</th>
        <th>Requesting Department</th>
        <th>Amount Required</th>
        <th>Details</th>
      </tr>
      <tr ng-repeat="f in financeRequests">
        <td>{{f.eventId}}</td>
        <td>{{f.requestingDepartment}}</td>
        <td>{{f.requiredAmount}}</td>
        <td><a class="btn btn-primary" ng-click="displayFinanceRequest(f)">View Details</a></td>
      </tr>
    </table>

  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Review Finance Request</h3>
  </div>
  <div class="panel-body">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-3 control-label" for="requestingDepartment"> Requesting Department : </label>
        <label class="radio-inline"><input type="radio" ng-model="displayedfinanceRequest.requestingDepartment" value="Administration" readonly>Administration</label>
        <label class="radio-inline"><input type="radio" ng-model="displayedfinanceRequest.requestingDepartment" value="Services" readonly>Services</label>
        <label class="radio-inline"><input type="radio" ng-model="displayedfinanceRequest.requestingDepartment" value="Production" readonly>Production</label>
        <label class="radio-inline"><input type="radio" ng-model="displayedfinanceRequest.requestingDepartment" value="Finance" readonly>Financial</label>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="projectReference"> Event Id : </label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Eg: e12488" ng-model="displayedfinanceRequest.eventId" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="requiredAmount"> Required Amount :  </label>
        <div class="col-sm-4">
          <input type="text" class="form-control" placeholder="Eg: 5000 SEK" ng-model="displayedfinanceRequest.requiredAmount" readonly>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-3 control-label" for="reason"> Reason : </label>
        <div class="col-sm-4">
          <textarea class="form-control" rows="3" ng-model="displayedfinanceRequest.reason" readonly></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-2">
        <button type="submit" class="btn btn-primary" ng-click="approveFinanceRequest()">Approve</button>
        </div>
        <div class="col-sm-offset-3 col-sm-2">
          <button type="submit" class="btn btn-danger" ng-click="declineFinanceRequest()">Decline</button>
        </div>
      </div>
    </form>
  </div>
</div>
