<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <!--Sidebar content-->

      <button type="button" class="btn btn-primary" ng-click="$ctrl.newForm()">New Event Request</button>

    </div>

    <div class="col-md-10">
      <!--Body content-->

      <ul>
        <li ng-repeat="request in $ctrl.requests" class="thumbnail">
          <a href="#!/event_requests/{{request.recordNumber}}" class="thumb">
            <p>{{request.clientName}}, {{request.eventType}}</p>
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>